<h2 class="text-center text-white">Editar Cliente</h2>

<%= render 'form', customer: @customer %>
<br>
<button type="button" class="btn btn-danger"><%= link_to 'Show', @customer %></button> |
<button type="button" class="btn btn-danger"><%= link_to 'Back', customers_path %></button>
