<p id="notice"><%= notice %></p>

<section class="container d-none d-md-block" id="imglogo">
  <%= image_tag "logo_carniceria.png", class:"img-fluid" %>
</section>
 <div class="line border-danger border-top mt-2 pb-2"></div>

<section class="container-fluid mt-5">
  <h2>Lista de Clientes</h2>
  <form class="d-inline-flex my-lg-2" id="search">
    <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search" name="q">
  </form>
  
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="80%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-center text-white">Nombre</th>
            <th class="text-center text-white">Apellido</th>
            <th class="text-center text-white">Dirección</th>
            <th class="text-center text-white">Teléfono</th>
            <th colspan="3" class="text-center text-white"><%= link_to 'Crear Nuevo Cliente', new_customer_path, class: "new-client" %></th>
          </tr>
        </thead>
        <tbody id="customers">
          <%= render @customers %>
        </tbody>
      </table>
    </div>
  </div>
</section>

