<div>
  <div class="field">
  <label for="loan_loan_products_attributes_0_product_id">Product</label>
  <%= select_tag :product_id, options_for_select(@products), prompt: "Seleccione un producto" %>
  </div>
  <div class="field">
  <label for="loan_loan_products_attributes_0_product_quantity">Product quantity</label>
  <input type="text" value="1.0" name="loan[loan_products_attributes][0][product_quantity]">
</div>