<h2 class="text-center text-dark">Nuevo Préstamo</h2>
 
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
      <main>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-5">
                      <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-dark-light my-4">Ingresar nuevo préstamo</h3></div>
                          <div class="card-body">
                            <%= render 'form', loan: @loan %>
                              <button type='button', class="btn btn-secondary  mb-2"><%= link_to 'Back', loans_path %></button> |
                              <button type='button', class="btn btn-secondary inline mb-2"><%= link_to 'Show', @loan %></button>
                         </div>
                      </div>             
                  </div>
              </div>
          </div>
      </main>
    </div> 
</div>  
