// Place all the styles related to the balances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h2{
  color: red;
  text-align: center;
}

thead{
  background-color: black;
}

#graphics{
  background-color: maroon;
  color: white;
  margin-left: 25px;
}

#mostrar-graficos{
  display: none
}