// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h2{
  font-family:'Lucida Sans', 'Lucida Sans Regular';
  color:rgb(182, 12, 12);
  margin-top: 50px;
}

#title-form{
  font-family: Arial, Helvetica;
  color:black;
}

thead{
  background-color: black;
}

#btn-new{
  background-color: maroon;
  margin-left: 50px;
  margin-right: 100px;
  margin-bottom: 30;
  color: white;
}
#btn-s{
margin-right: 5px;
margin-left: 30px;
margin-bottom: 30px;
}
.bg-form{
  background-color: whitesmoke;
  margin-top:0px;
}

#new-loan{
  color: rgb(182, 12, 12);
}

#new-payment{
  color: rgb(182, 12, 12);
}

#client{
  background-color: maroon;
  margin-top: 0px;
  margin-left: 10px;
  color: white;
}

#btn-color{
  color: black;
}

.head{
  background-color: maroon;
}

.button{
  margin-left: 15px;
  margin-right: 10px;
}

#btn-c{
  color: black;
}

#show_customer{
  display: none 
}

#color-font{
  color: black;
}

#customer_edit{
 background-color: maroon; 
 color: white;
 margin-left: 980px;
}

#search{
  margin-left: 25px;
  margin-bottom: 5px;
}