// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h2{
  color: rgb(175, 4, 4);
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  margin-top: 0%;
  text-align: center;
}

h3{
  color: black;
  font-family: Arial, Helvetica;
}

.btn-new{
  background-color: maroon;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

thead{
  background-color: black;
}

.line{
  margin-top: 5px;
  color: red;
}

.border-top{
  margin-top: 10px;
  color: red;
}