
<td class="text-white text-center"><%= product.name_product %></td>
<td class="text-white text-center"><%= product.price %></td>
<td><%= link_to 'Edit', edit_product_path(product), remote: true %></td>
<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>